@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, html{
    font-family: 'Poppins', Sans-serif;
    font-weight: 400;
    background-color: #111;
    transition: 2s ease-in-out all;
}


header{
    width: 100%;
    padding: 0.7rem;
    background:rgb(17, 17, 17, 0.99);
    position: fixed;
    box-shadow: 0 12px 25px #0003;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.brand{
    display: flex;
    align-items: center;
   
}

.brand > .nav-brand{
    margin-left: 0.5rem;
}

.nav-brand{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.nav-logo{
    width: 2.8em;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 4rem;
}

li{
    text-decoration: none;
    margin-right: 2.3rem;
    
}

.nav-items{
text-decoration: none;
color: rgb(255, 255, 255, 0.5);
font-size: 0.987rem;
font-weight: 600;
}

.nav-items:hover{
    color: rgb(255, 255, 255, 0.78);
    
}

.header-icons{
    display: flex;
}

i.fa{
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.7em;
    margin: 1rem;
}

i.fa:hover{
    color: rgb(255, 255, 255, 0.78);
}


/* MAIN BODY STYLES */

.pulse-body{
    width: 58%;
    margin: 0 auto;
}

.testnet-container{
    background-color: rgba(34, 34, 34, 0.333);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    letter-spacing: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
}

.testnet-header h1{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.testnet-details{
    margin: 1rem 3.5rem 0.5rem 3.5rem;
    text-align: left;
    font-size: 0.988rem;
    font-weight: 400;
    line-height: 1.4;
}

.testnet-details2{
    padding: 0rem 0.5rem 0rem 0.5rem;
    text-align: left;
    font-size: 0.988rem;
    line-height: 1.5;
}

.testnet-details ~ p{
    margin: 1rem 3.5rem 0.5rem 3.5rem;
    text-align: left;
    font-size: 0.988rem;
    line-height: 1.5;
}

.testnet-card{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    width: 28rem;
    background: rgba(170, 163, 163, 0.087);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-body{
    text-align: left;
}
.net{
    padding: 1.3rem;
}

.net-name{
    font-size: 1rem;
    margin-bottom: 0.5rem;

}

.net-text{
    margin-top: 2rem;
    line-height: 1.2;
    font-size: 0.989rem;
}

.net-link{
    color: rgb(100, 100, 255);
    margin-top: 2rem;
    line-height: 1.2;
    font-size: 0.989rem;
    cursor: pointer;
    text-decoration: none;
}

.link-green{
    color: rgb(79, 235, 79);
}

.link-green:hover{
    text-decoration: none;
}

.net-link:hover{
    color: rgb(109, 206, 245);
}


/* SACRIFICE SECTION */


.sacrifice-container{
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    background: rgba(170, 163, 163, 0.087);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.sacrifice-header{
    margin: 0.987rem;
    color: #fff;
    font-size: 2.1rem;
}

.sacrifice-details{
    margin: 1rem 3rem;
    font-size: 0.989rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}


/* TESTIMONIAL STYLES */

.testimonial-container{
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    background: rgba(170, 163, 163, 0.087);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.testimonial-header{
    margin: 0.987rem;
    color: #fff;
    font-size: 2.1rem;
    font-family: inherit;
}

.testimonial-details{
    margin: 1rem 3rem;
    font-size: 0.989rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}

.video-container{
    width: 480px;
    height: 300px;
    margin-bottom: 1.4rem;
}

.testimonial-vid{
   position: relative;
   padding-top: 25px;
   height: 0;
   border-radius: 0.8rem;
}

.testimonial-vid iframe{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
   border-radius: 0.8rem;

}

/* RESPONSIVENESS */

@media( max-width: 960px) {
    ul{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }

    .pulse-body{
        width: 76%;
        margin: 0 auto;
    }
    

    .testnet-card{
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        width: 37.2rem;
    }


    .sacrifice-container{
        width: 76%;
    }
    
    .testimonial-container{
        width: 76%;
    }

    .sacrifice-details{
        margin: 1rem 3.5rem 1rem 3.5rem;
    }

    .testimonial-details{
        margin: 1rem 3.5rem 1rem 3.5rem;
    }
}



@media( max-width: 898px){
    .pulse-body{
        width: 79%;
        margin: 0 auto;
    }
    

    .testnet-card{
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        width: 37.2rem;
    }


    .sacrifice-container{
        width: 79%;
    }

    .testimonial-container{
        width: 79%;
    }

    .sacrifice-details{
        margin: 1rem 3.5rem 1rem 3.5rem;
    }

    .testimonial-details{
        margin: 1rem 3.5rem 1rem 3.5rem;
    }
}


@media( max-width: 760px){
    .pulse-body{
        width: 79%;
        margin: 0 auto;
    }
    

    .testnet-card{
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        width: 30.9rem;
    }

    .testnet-details2{
        margin: 1rem 2.8rem 1rem 2.8rem;
    }

    .sacrifice-container{
        width: 79%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .testimonial-container{
        width: 79%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .sacrifice-details{
        margin: 1rem 3.8rem 0.4rem 3.8rem;

    }

    .testimonial-details{
        margin: 1rem 3.8rem 0.4rem 3.8rem;

    }
}

@media (max-width: 648px){
    .pulse-body{
       width: 100%;
       background: none;
    }

    .sacrifice-container{
        width: 100%;
        background: none;
        margin-top: 5rem;
        box-shadow: none;
    }

    .testimonial-container{
        width: 100%;
        background: none;
        margin-top: 5rem;
        box-shadow: none;
    }

    .testnet-container{
        background: none;
        width: none;
        box-shadow: none;
    }
    
    .testnet-details{
        margin: 1rem 2.8rem;
    }
    
    .testnet-details ~ p{
        margin: 1rem 2.8rem 0.4rem 2.8rem;
    }

    .net-link, .net-text{
        word-break: break-all;
    }

    .testnet-card{
        width: 33.2rem;
    }
}

@media (max-width: 580px){
    .pulse-body{
       width: 100%;
       background: none;
    }

    .testnet-header{
        word-break: break-all;
    }

    .testnet-container{
        background: none;
        width: none;
    }
    
    .net-link, .net-text{
        word-break: break-all;
    }
    .testnet-card{
        width: 30rem;
    }
}



@media (max-width: 478px){

   
    .testnet-card{
        width: 20rem;
    }

    .testnet-header{
        word-break: break-all;
    }

    .net-link, .net-text{
        font-size: 0.93rem;
        word-break: break-all;
    }

    .testnet-details, .testnet-details ~ p{
        padding: 0rem 0.5rem 0rem 0.5rem;

    }

    .testnet-details2{
        padding: 0rem 0.5rem 0rem 0.5rem;
    }

    .sacrifice-details{
    margin: 1rem 3.2rem 1rem 3.2rem;
    }
}

@media (max-width: 360px){
    .testnet-card{
        width: 17rem;
    }

    .testnet-header{
        word-break: break-all;
    }

    .net-name{
        font-size: 0.84rem;
    }

    .net-link, .net-text{
        font-size: 0.77rem;
        word-break: break-all;
    }


    .testnet-details2, .sacrifice-details, .testimonial-details{
        padding: 0rem 0.001rem 0rem 0.001rem;
    }

}