@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,200;0,300,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, html{
    font-family: 'Poppins', sans-serif;
    background-color: #111;
}


header{
    width: 100%;
    padding: 1.5rem;
    background:rgb(17, 17, 17, 0.99);
    position: fixed;
    box-shadow: 0 12px 25px #0003;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.brand{
    display: flex;
    align-items: center;
   
}

.brand > .nav-brand{
    margin-left: 0.5rem;
}

nav .nav-brand{
    color: #fff;
    font-size: 1.67rem;
    font-weight: 400;
    text-decoration: none;
}

.nav-logo{
    width: 2.8em;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

li{
    text-decoration: none;
    margin-right: 2.4rem;
    
}

.nav-items{
text-decoration: none;
color: rgb(255, 255, 255, 0.5);
font-size: 1.05rem;
font-weight: 600;
}

.nav-items:hover{
    color: rgb(255, 255, 255, 0.78);
    
}

.header-icons{
    display: flex;
    margin-right: 2rem;
}

i.fa{
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.8em;
    margin: 1rem;
}

i.fa:hover{
    color: rgb(255, 255, 255, 0.78);
}


/* MAIN BODY STYLES */

.pulse-body{
    width: 55%;
    margin: 0 auto;
}

.testnet-container{
    background-color: rgba(34, 34, 34, 0.333);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 8rem;
}

.testnet-header{
    font-size: 2rem;
}

.testnet-details{
    margin: 1rem 2.8rem;
    text-align: left;
    font-size: 1.07rem;
    font-weight: 500;
}

.testnet-details ~ p{
    text-align: left;
    margin: 1rem 2.8rem 0.4rem 2.8rem;
    font-size: 1.07rem;
}

.testnet-card{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 30rem;
    background: rgba(170, 163, 163, 0.2);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-body{
    text-align: left;
   /* padding: 1rem; */
}
.net{
    padding: 1.3rem;
}

.net-name{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

}

.net-text{
    margin-top: 2rem;
    line-height: 1.2;
    font-size: 1rem;
}

.net-link{
    color: #4cbcfd;
    margin-top: 2rem;
    line-height: 1.2;
    font-size: 1rem;
    cursor: pointer;
}

.net-link:hover{
    color: #83a9e0;
}

/* RESPONSIVENESS */

@media( max-width: 960px) {
    ul{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }
}