@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, html{
    font-family: 'Poppins', Sans-serif;
    font-weight: 400;
    background-color: #111;
}


header{
    width: 100%;
    padding: 0.7rem;
    background:rgb(17, 17, 17, 0.99);
    position: fixed;
    box-shadow: 0 12px 25px #0003;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.brand{
    display: flex;
    align-items: center;
   
}

.brand > .nav-brand{
    margin-left: 0.5rem;
}

.nav-brand{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.nav-logo{
    width: 2.8em;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 4rem;
}

li{
    text-decoration: none;
    margin-right: 2.3rem;
    
}

.nav-items{
text-decoration: none;
color: rgb(255, 255, 255, 0.5);
font-size: 0.987rem;
font-weight: 600;
}

.nav-items:hover{
    color: rgb(255, 255, 255, 0.78);
    
}

.header-icons{
    display: flex;
}

i.fa{
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.7em;
    margin: 1rem;
}

i.fa:hover{
    color: rgb(255, 255, 255, 0.78);
}


/* MAIN BODY STYLES */

.pulse-body{
    width: 66%;
    margin: 0 auto;
}

.testnet-container{
    background-color: rgba(34, 34, 34, 0.333);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    letter-spacing: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
}

.testnet-header h1{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.testnet-details{
    margin: 1rem 3rem;
    text-align: left;
    font-size: 0.988rem;
    font-weight: 400;
    line-height: 1.4;
}

.testnet-details2{
    padding: 0rem 0.5rem 0rem 0.5rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    /* line-height: 1.4; */
}

.testnet-details ~ p{
    margin: 1rem 3rem;
    text-align: left;
    font-size: 0.988rem;
    line-height: 1.5;
}

.testnet-card{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    width: 35rem;
    background: rgba(170, 163, 163, 0.087);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-body{
    text-align: left;
}
.net{
    padding: 1.3rem;
}

.net-name{
    font-size: 1rem;
    margin-bottom: 0.5rem;

}

.net-text{
    margin-top: 2rem;
    line-height: 1.2;
    font-size: 0.989rem;
}

.net-link{
    color: rgb(100, 100, 255);
    margin-top: 2rem;
    line-height: 1.2;
    font-size: 0.989rem;
    cursor: pointer;
    text-decoration: none;
}

.link-green{
    color: rgb(79, 235, 79);
}

.link-green:hover{
    text-decoration: none;
}

.net-link:hover{
    color: rgb(109, 206, 245);
}


/* SACRIFICE SECTION */


.sacrifice-container{
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    background: rgba(170, 163, 163, 0.087);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.sacrifice-header{
    margin: 1rem;
    color: #fff;
    font-size: 2.1rem;
}

.sacrifice-details{
    margin: 1rem 3rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
}

/* RESPONSIVENESS */

@media( max-width: 960px) {
    ul{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }
}



@media( max-width: 900px){
    .pulse-body{
        width: 79%;
        margin: 0 auto;
    }
    

    .testnet-card{
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        width: 36.2rem;
    }
}


@media( max-width: 768px){
    .pulse-body{
        width: 84%;
        margin: 0 auto;
    }
    

    .testnet-card{
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem;
        width: 33.2rem;
    }
}

@media (max-width: 648px){
    .pulse-body{
       width: 100%;
       background: none;
    }

    .testnet-container{
        background: none;
        width: none;
    }
    
    .testnet-details{
        margin: 1rem 2.8rem;
    }
    
    .testnet-details ~ p{
        margin: 1rem 2.8rem 0.4rem 2.8rem;
    }

    .testnet-card{
        width: 33.2rem;
    }
}

@media (max-width: 580px){
    .pulse-body{
       width: 100%;
       background: none;
    }

    .testnet-container{
        background: none;
        width: none;
    }
    

    .testnet-card{
        width: 30rem;
    }
}